---
const { class: className } = Astro.props;
---

<div class:list={[className, "relative"]}>
    <svg
        class="logo-bombe absolute top-0 left-0 h-full scale-50 opacity-0"
        viewBox="0 0 325 319"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
            d="M83.1623 254.227C87.5587 245.147 89.7899 234.746 91.1365 224.755C86.4761 223.488 80.3501 222.67 75.5444 223.237C83.2151 218.829 91.0969 211.2 95.995 203.809C88.3904 203.875 79.492 201.183 72.4419 198.358C81.6044 194.333 89.1826 188.671 94.8992 180.435C85.2615 175.38 75.6633 169.718 66.0123 164.65C77.0627 163.066 88.6941 161.852 99.7445 160.255C86.4365 155.794 71.5441 148.271 59.0678 141.803C69.9334 141.619 80.5614 141.236 91.427 141.051C81.5252 136.234 73.9073 128.328 65.8802 120.831C76.5478 121.082 86.4629 121.359 97.1304 121.61C95.3613 110.391 92.6548 99.8062 89.4862 88.9043C102.425 90.6597 113.845 97.5756 125.463 103.528C125.503 93.9725 126.612 85.3671 126.651 75.8115C136.183 83.163 143.828 93.6689 151.419 103C156.185 93.6821 159.09 81.3944 159.618 70.9677C163.169 76.2734 165.915 81.6716 167.222 87.9144C171.777 79.5334 177.124 73.7921 181.666 65.4112L182.498 114.311C198.063 109.507 211.384 103.304 224.191 93.2729C220.402 103.62 216.441 113.889 212.652 124.236C226.448 123.537 237.605 122.877 251.071 119.683C246.054 124.58 242.318 130.73 240.271 137.435C246.992 137.118 253.131 137.62 259.851 137.303C254.504 137.831 249.645 141.869 246.925 146.528C258.227 149.604 266.478 154.725 276.512 160.73C268.181 161.073 259.89 161.825 251.639 162.96C254.873 166.22 257.844 169.758 260.564 173.493C281.727 170.893 302.877 168.319 324.041 165.706C306.851 155.886 288.13 147.967 268.432 146C282.136 143.202 296.897 138.755 310.601 135.93C294.745 132.446 278.77 129.885 262.914 126.374C269.792 114.549 279.126 103.343 287.721 92.679C268.472 96.7969 249.355 98.2883 229.71 99.7006C239.73 85.7763 249.777 71.8652 259.798 57.9409C238.912 68.6712 218.461 79.2167 197.575 89.9338L199.885 0C190.208 16.8807 179.17 32.9827 166.879 48.0685C163.275 40.2947 160.291 33.8802 155.499 26.7927C151.577 36.0316 146.758 44.1882 140.989 52.4108C127.1 37.4438 109.105 24.3774 90.1199 16.8675C92.9717 37.2326 96.3779 59.4587 99.2296 79.837C88.0076 74.2277 74.1582 70.387 62.9229 64.7777C66.1179 74.0693 68.2699 84.6412 71.4649 93.9329C52.7966 86.3306 34.2736 81.6848 14.1926 79.5862C23.474 93.9065 35.6598 109.573 47.344 121.993C31.9103 122.692 15.4205 124.751 0 125.451C15.2092 135.706 34.0623 146.132 51.45 152.045C40.2147 154.368 26.1673 157.892 14.9584 160.215C29.2698 170.576 48.6642 180.554 64.8769 187.615C51.5028 193.092 37.5478 199.494 24.1737 204.971C37.5214 204.865 53.5095 205.921 66.6196 208.204C50.9351 221.786 36.8216 239.881 26.8802 258.055C44.0698 253.105 60.0976 247.879 76.9307 241.702C69.7618 255.521 61.2858 269.498 54.1301 283.303C70.9632 279.001 87.255 272.665 102.794 264.971C102.913 264.905 103.058 264.852 103.204 264.786C99.7181 257.065 97.2229 248.803 95.995 240.118C91.5326 244.645 87.2022 249.331 83.0962 254.174L83.1887 254.201L83.1623 254.227Z"
            fill="#F05738"></path>
        <path
            d="M212.006 149.986C213.353 150.541 214.712 151.135 216.033 151.755C214.712 151.135 213.392 150.514 212.045 149.986H212.019H212.006Z"
            fill="#F05738"></path>
        <path
            d="M206.381 147.954C207.556 148.337 208.731 148.785 209.866 149.208C208.691 148.759 207.556 148.35 206.381 147.954Z"
            fill="#F05738"></path>
        <path
            d="M227.451 158.262C228.006 158.631 228.507 159.027 229.049 159.423C228.521 159.054 227.992 158.631 227.451 158.262Z"
            fill="#F05738"></path>
        <path
            d="M200.584 146.304C201.495 146.515 202.366 146.792 203.251 147.043C202.366 146.792 201.495 146.515 200.61 146.304H200.584Z"
            fill="#F05738"></path>
        <path
            d="M222.527 155.173C223.319 155.622 224.085 156.163 224.877 156.652C224.085 156.176 223.319 155.662 222.527 155.173Z"
            fill="#F05738"></path>
        <path
            d="M223.609 153.814C223.609 153.814 223.821 153.933 223.9 153.986C223.807 153.933 223.689 153.867 223.609 153.814Z"
            fill="#F05738"></path>
        <path
            d="M207.081 146.37C205.298 145.789 203.45 145.261 201.602 144.799C202.447 145.024 203.265 145.261 204.097 145.512C205.087 145.789 206.09 146.066 207.054 146.37H207.081Z"
            fill="#F05738"></path>
        <path
            d="M194.881 143.348C196.954 143.691 199.026 144.126 201.086 144.615C199.04 144.126 196.967 143.691 194.881 143.348Z"
            fill="#F05738"></path>
        <path
            d="M228.971 157.219C228.971 157.219 229.208 157.391 229.327 157.47C229.208 157.391 229.09 157.298 228.971 157.219Z"
            fill="#F05738"></path>
        <path
            d="M217.643 150.646C217.933 150.791 218.223 150.897 218.501 151.042C218.21 150.897 217.92 150.791 217.643 150.646Z"
            fill="#F05738"></path>
        <path
            d="M246.979 146.542C249.672 141.896 254.517 137.844 259.904 137.316C253.184 137.633 247.045 137.131 240.325 137.448C242.371 130.743 246.107 124.619 251.124 119.696C237.684 122.89 226.541 123.524 212.705 124.249C216.494 113.902 220.455 103.634 224.244 93.2861C211.425 103.317 198.09 109.52 182.551 114.324L181.719 65.4243C177.164 73.8053 171.817 79.5466 167.276 87.9276C165.942 81.6847 163.236 76.2602 159.671 70.9808C159.156 81.4208 156.238 93.7085 151.472 103.013C143.854 93.6821 136.21 83.1761 126.704 75.8246C126.665 85.3803 125.556 93.9856 125.516 103.541C113.911 97.5888 102.452 90.686 89.5395 88.9174C92.6949 99.8193 95.4146 110.404 97.1838 121.623C86.5162 121.372 76.6011 121.095 65.9336 120.844C73.9607 128.367 81.6049 136.247 91.4803 141.064C80.6147 141.249 69.9867 141.632 59.1211 141.817C71.5842 148.271 86.4898 155.794 99.7979 160.268C88.7474 161.852 77.116 163.066 66.0656 164.663C75.7034 169.718 85.3016 175.38 94.9526 180.448C89.2359 188.671 81.6709 194.333 72.4952 198.372C79.5321 201.196 88.4701 203.862 96.0484 203.823C91.1635 211.214 83.2816 218.803 75.5978 223.251C80.3903 222.67 86.5294 223.501 91.1898 224.768C89.8432 234.76 87.5724 245.16 83.2156 254.24C87.3347 249.397 91.6519 244.685 96.1144 240.184C95.5863 236.409 95.2298 232.595 95.1638 228.688C94.7413 203.704 104.406 180.937 120.341 164.148C120.777 163.699 121.173 163.264 121.569 162.842L121.357 162.525L117.053 155.899L116.961 155.78C116.486 155.266 116.063 154.711 115.68 154.078C115.443 153.669 115.205 153.246 115.02 152.784L114.637 152.177L114.783 152.111C112.05 144.298 118.361 133.026 129.939 125.081C122.361 117.875 114.268 114.826 105.805 116.172L104.788 109.863C115.654 108.134 126.308 112.239 135.616 121.689C148.066 115.301 160.886 115.116 166.431 121.227C166.88 121.742 167.328 122.257 167.685 122.864C168.041 123.497 175.844 136.352 175.844 136.352H175.897C176.504 136.286 177.151 136.247 177.785 136.168C180.174 135.956 182.59 135.772 185.033 135.719C211.081 135.27 234.767 145.789 251.732 162.987C259.983 161.852 268.274 161.099 276.605 160.756C266.532 154.751 258.293 149.643 247.018 146.555L246.966 146.502L246.979 146.542Z"
            fill="#FFD169"></path>
        <path
            d="M168.714 124.685L175.817 136.3C175.817 136.3 168.028 123.405 167.658 122.811C168.015 123.445 168.318 124.078 168.569 124.778L168.714 124.712V124.685Z"
            fill="#FFD169"></path>
        <path
            d="M114.743 152.059L114.611 152.111L114.994 152.719L114.928 152.521L114.743 152.059Z"
            fill="#FFD169"></path>
        <path
            d="M114.993 152.719C115.178 153.154 115.389 153.59 115.653 154.012C115.349 153.524 115.112 153.035 114.9 152.507L114.966 152.705H114.993V152.719Z"
            fill="#FFD169"></path>
        <path
            d="M259.495 173.625C255.745 174.1 251.705 174.403 247.48 174.641C255.943 185.503 261.779 198.424 264.142 211.992L262.426 212.283C260.036 198.609 254.042 185.596 245.381 174.76C229.657 175.723 212.045 176.462 199.714 182.903C173.666 196.537 149.254 214.025 131.061 237.386C127.008 242.613 124.209 249.014 120.209 254.082C116.129 259.282 109.158 261.935 103.23 264.825C117.819 297.003 150.482 319.163 188.096 318.516C238.608 317.659 278.836 276.018 277.978 225.547C277.648 206.066 271.218 188.143 260.564 173.493C260.181 173.532 259.838 173.598 259.455 173.625L259.481 173.598L259.495 173.625Z"
            fill="#1B2CEA"></path>
        <path
            d="M120.275 254.082C124.235 249.027 127.048 242.599 131.127 237.386C149.32 214.038 173.731 196.55 199.78 182.903C212.085 176.462 229.723 175.723 245.447 174.76C243.506 172.344 241.486 170.021 239.295 167.844C238.437 167.012 237.552 166.207 236.654 165.415C235.202 164.095 233.723 162.842 232.192 161.64C232.165 161.614 232.099 161.588 232.073 161.561C231.096 160.822 230.093 160.109 229.089 159.397C228.561 159.027 228.033 158.605 227.492 158.235C227.373 158.156 227.228 158.064 227.109 157.985C226.396 157.496 225.67 157.074 224.931 156.625C224.138 156.15 223.373 155.635 222.581 155.147C222.316 154.975 222.052 154.83 221.762 154.698C220.323 153.906 218.884 153.114 217.405 152.388C216.969 152.164 216.494 151.966 216.019 151.742C214.699 151.121 213.378 150.501 211.992 149.973C211.292 149.696 210.579 149.445 209.88 149.194C208.705 148.746 207.569 148.336 206.394 147.941C205.365 147.611 204.282 147.333 203.265 147.03C202.381 146.779 201.509 146.502 200.598 146.291C198.605 145.802 196.624 145.393 194.605 145.05L194.895 143.361C196.968 143.704 199.041 144.139 201.1 144.628C201.272 144.681 201.483 144.733 201.655 144.799C203.503 145.261 205.312 145.789 207.134 146.37C208.507 146.819 209.893 147.347 211.24 147.875C211.794 148.099 212.388 148.297 212.943 148.521C214.553 149.194 216.111 149.894 217.669 150.659C217.96 150.805 218.25 150.91 218.527 151.055C220.257 151.9 221.934 152.837 223.61 153.801C223.703 153.853 223.822 153.919 223.901 153.972C225.261 154.764 226.581 155.582 227.875 156.467C228.231 156.717 228.614 156.955 228.971 157.206C229.089 157.285 229.208 157.377 229.327 157.457C233.275 160.189 237.037 163.237 240.47 166.643C242.992 169.137 245.302 171.856 247.507 174.654C251.732 174.377 255.771 174.073 259.521 173.638C259.904 173.598 260.247 173.532 260.63 173.506C257.91 169.771 254.94 166.233 251.705 162.973C234.74 145.789 211.081 135.27 185.006 135.706C182.564 135.745 180.148 135.904 177.758 136.154L182.749 145.076C185.112 148.706 185.534 153.22 183.858 157.206C181.455 162.96 176.953 171.077 169.19 177.201C162.258 182.679 154.086 185.503 144.805 185.662C141.57 185.714 138.217 185.45 134.745 184.87C132.645 184.526 130.784 183.246 129.675 181.398L120.314 164.161C104.339 180.95 94.7015 203.717 95.1372 228.701C95.2032 232.608 95.5333 236.449 96.0878 240.197C97.342 248.882 99.8109 257.17 103.296 264.865C109.224 261.961 116.195 259.348 120.275 254.122V254.148V254.082Z"
            fill="#1B2CEA"></path>
        <path
            d="M140.752 139.375C140.752 139.375 137.28 132.419 131.114 126.137C130.929 125.939 130.731 125.794 130.547 125.622C118.453 133.871 112.591 145.591 117.146 153.18C121.978 161.231 136.541 161.06 150.297 152.824C163.79 144.733 170.801 131.561 165.942 123.484C163.579 119.538 158.787 117.637 152.872 117.73C147.855 117.809 142.059 119.366 136.224 122.323C142.785 129.199 146.31 136.313 146.456 136.63L140.739 139.441V139.388L140.752 139.375ZM160.925 131.073C161.216 136.432 156.582 141.553 151.261 141.843L151.169 140.127C155.618 139.876 159.46 135.613 159.209 131.165C158.985 126.718 154.72 122.877 150.271 123.101L150.179 121.385C155.539 121.148 160.661 125.754 160.925 131.073Z"
            fill="#1B2CEA"></path>
        <path
            d="M131.166 180.461C132.037 181.874 133.45 182.837 135.06 183.101C138.572 183.682 141.833 183.946 144.87 183.893C167.327 183.51 177.836 167.131 182.286 156.52C183.738 153.062 183.355 149.128 181.322 145.987L175.909 136.326H175.856L168.753 124.711L168.608 124.777C168.357 124.118 168.067 123.444 167.697 122.811C167.34 122.204 166.918 121.689 166.443 121.174C166.799 121.61 167.129 122.072 167.433 122.56C172.859 131.614 165.73 145.539 151.194 154.263C144.157 158.486 136.882 160.651 130.611 160.756C124.868 160.849 120.036 159.212 117.039 155.833L121.343 162.459H121.369L131.152 180.475H131.179L131.166 180.461ZM173.163 144.733L177.929 152.573L176.463 153.471L171.697 145.631L173.163 144.733Z"
            fill="#1B2CEA"></path>
        <path
            d="M181.283 145.961C183.343 149.102 183.712 153.062 182.247 156.493C177.797 167.118 167.262 183.484 144.831 183.867C141.768 183.919 138.533 183.682 135.022 183.075C133.411 182.811 131.998 181.847 131.127 180.435L121.344 162.419H121.317L121.529 162.762C121.093 163.171 120.697 163.647 120.301 164.069L129.661 181.306C130.797 183.154 132.632 184.408 134.731 184.777C138.203 185.358 141.57 185.622 144.791 185.569C154.086 185.411 162.258 182.586 169.176 177.109C176.913 171.011 181.428 162.855 183.844 157.113C185.495 153.154 185.098 148.614 182.735 144.984L177.745 136.062C177.137 136.128 176.49 136.168 175.857 136.234L181.27 145.895V145.948L181.283 145.961Z"
            fill="#7DA4B0"></path>
        <path
            d="M130.638 160.756C136.869 160.651 144.184 158.486 151.22 154.263C165.756 145.538 172.899 131.614 167.459 122.56C167.156 122.072 166.826 121.61 166.469 121.174C160.911 115.037 148.105 115.248 135.655 121.636L135.826 121.808C135.972 121.953 136.117 122.125 136.275 122.27C142.084 119.313 147.907 117.756 152.924 117.677C158.838 117.571 163.618 119.472 165.994 123.431C170.852 131.509 163.816 144.681 150.349 152.771C136.592 161.02 122.03 161.179 117.198 153.128C112.643 145.538 118.505 133.818 130.598 125.569C130.387 125.371 130.189 125.173 129.951 124.962C118.346 132.908 112.062 144.166 114.795 151.992L114.98 152.454C115.191 152.969 115.429 153.471 115.732 153.959C116.089 154.566 116.538 155.134 117.013 155.662L117.105 155.78C120.102 159.133 124.974 160.809 130.677 160.703L130.651 160.756H130.638Z"
            fill="#7DA4B0"></path>
        <path
            d="M159.208 131.166C159.433 135.613 155.604 139.877 151.168 140.127L151.26 141.843C156.594 141.553 161.215 136.405 160.925 131.073C160.634 125.715 155.512 121.122 150.178 121.386L150.27 123.101C154.719 122.877 158.984 126.744 159.208 131.166Z"
            fill="white"></path>
        <path
            d="M135.615 121.61C126.307 112.16 115.653 108.055 104.787 109.784L105.804 116.093C114.227 114.76 122.36 117.796 129.938 125.002C130.796 124.408 131.694 123.84 132.618 123.273C133.621 122.679 134.638 122.138 135.654 121.623H135.628L135.615 121.61Z"
            fill="black"></path>
        <path
            d="M130.559 125.622C130.73 125.794 130.941 125.965 131.126 126.137C137.292 132.446 140.738 139.309 140.764 139.375L146.481 136.564C146.336 136.247 142.797 129.146 136.249 122.257C135.179 122.798 134.11 123.365 133.041 124.025C132.169 124.54 131.364 125.068 130.559 125.609V125.622Z"
            fill="black"></path>
        <path
            d="M133.041 124.012C134.111 123.378 135.18 122.811 136.249 122.243C136.104 122.098 135.959 121.927 135.8 121.781L135.629 121.61C134.612 122.125 133.609 122.666 132.592 123.26C131.668 123.801 130.77 124.395 129.912 124.989C130.123 125.187 130.321 125.385 130.559 125.596C131.364 125.055 132.17 124.514 133.041 124.012Z"
            fill="black"></path>
        <path
            d="M173.159 144.697L171.691 145.586L176.45 153.429L177.918 152.539L173.159 144.697Z"
            fill="white"></path>
        <path
            d="M234.529 161.403C234.08 161.06 233.644 160.717 233.195 160.347C233.644 160.69 234.08 161.033 234.529 161.403Z"
            fill="white"></path>
        <path
            d="M229.948 157.932C229.737 157.787 229.539 157.615 229.327 157.47C229.208 157.391 229.09 157.298 228.971 157.219C228.826 157.14 228.68 157.047 228.535 156.929C229.01 157.245 229.473 157.589 229.948 157.919V157.932Z"
            fill="white"></path>
        <path
            d="M228.971 157.219C228.614 156.968 228.231 156.704 227.875 156.48C228.113 156.625 228.324 156.797 228.522 156.929C228.667 157.008 228.812 157.1 228.958 157.219H228.971Z"
            fill="white"></path>
        <path
            d="M233.195 160.347C233.643 160.69 234.079 161.034 234.528 161.403C235.98 162.578 237.366 163.779 238.726 165.059C239.294 165.6 239.915 166.089 240.469 166.656C237.063 163.277 233.313 160.228 229.326 157.47C229.537 157.615 229.735 157.787 229.947 157.932C231.042 158.724 232.125 159.529 233.195 160.347Z"
            fill="white"></path>
        <path
            d="M262.464 212.309L264.181 212.019C261.817 198.451 255.982 185.53 247.519 174.667C246.819 174.707 246.12 174.747 245.42 174.786C254.107 185.622 260.101 198.623 262.464 212.309Z"
            fill="white"></path>
        <path
            d="M238.727 165.032C238.027 165.164 237.301 165.283 236.602 165.415C237.486 166.22 238.41 166.986 239.242 167.844C241.434 170.021 243.454 172.344 245.394 174.76C246.094 174.72 246.794 174.68 247.494 174.641C245.315 171.83 243.005 169.124 240.457 166.629C239.889 166.088 239.308 165.574 238.714 165.032H238.74H238.727Z"
            fill="white"></path>
        <path
            d="M234.528 161.403C234.079 161.06 233.644 160.717 233.195 160.347C232.125 159.516 231.043 158.697 229.947 157.932C229.472 157.589 228.996 157.246 228.534 156.942C227.029 155.913 225.471 154.923 223.913 153.986C223.821 153.933 223.702 153.867 223.623 153.814C221.946 152.851 220.27 151.913 218.54 151.042C218.25 150.897 217.959 150.792 217.682 150.646C216.124 149.881 214.54 149.155 212.929 148.508C212.374 148.284 211.78 148.086 211.226 147.861C209.853 147.334 208.493 146.806 207.12 146.357C206.156 146.053 205.153 145.776 204.163 145.499C203.344 145.248 202.499 144.997 201.667 144.786C201.496 144.733 201.311 144.681 201.113 144.615C199.066 144.126 196.994 143.691 194.908 143.348L194.617 145.037C196.637 145.38 198.618 145.789 200.611 146.278C201.482 146.502 202.367 146.766 203.252 147.017C204.308 147.32 205.364 147.598 206.381 147.927C207.556 148.31 208.731 148.759 209.866 149.181C210.566 149.432 211.279 149.683 211.978 149.96C213.325 150.514 214.645 151.108 215.966 151.729C218.197 152.771 220.375 153.893 222.488 155.107C223.28 155.556 224.045 156.097 224.838 156.586C225.696 157.127 226.58 157.628 227.399 158.196C227.953 158.565 228.455 158.961 228.996 159.357C230.026 160.096 231.096 160.836 232.099 161.601C233.63 162.802 235.109 164.056 236.561 165.376C237.261 165.244 237.987 165.125 238.687 164.993C237.327 163.739 235.901 162.512 234.489 161.337L234.515 161.363L234.528 161.403Z"
            fill="white"></path>
        <path
            d="M232.021 161.588C232.021 161.588 232.113 161.641 232.14 161.667C231.136 160.862 230.107 160.162 229.037 159.423C230.04 160.136 231.044 160.822 232.021 161.588Z"
            fill="white"></path>
        <path
            d="M206.381 147.954C205.351 147.624 204.269 147.347 203.252 147.043C204.308 147.347 205.364 147.624 206.381 147.954Z"
            fill="white"></path>
        <path
            d="M227.069 157.998C227.069 157.998 227.333 158.169 227.452 158.249C226.62 157.681 225.749 157.166 224.891 156.638C225.63 157.087 226.356 157.523 227.069 157.998Z"
            fill="white"></path>
        <path
            d="M217.378 152.402C218.843 153.127 220.282 153.893 221.735 154.711C221.999 154.856 222.263 155.028 222.553 155.16C220.428 153.919 218.262 152.811 216.031 151.781C216.507 152.006 216.942 152.204 217.417 152.428L217.391 152.402H217.378Z"
            fill="white"></path>
        <path
            d="M238.728 165.033C237.368 163.779 235.942 162.551 234.529 161.377C235.982 162.551 237.368 163.752 238.728 165.033Z"
            fill="white"></path>
        <path
            d="M233.195 160.347C232.126 159.516 231.043 158.697 229.947 157.932C231.043 158.724 232.126 159.529 233.195 160.347Z"
            fill="white"></path>
        <path
            d="M223.61 153.774C221.934 152.811 220.257 151.874 218.527 151.029C220.257 151.874 221.934 152.811 223.61 153.801V153.774Z"
            fill="white"></path>
        <path
            d="M227.888 156.48C226.594 155.622 225.261 154.777 223.914 153.986C225.498 154.923 227.03 155.913 228.535 156.942C228.324 156.797 228.086 156.625 227.888 156.493V156.48Z"
            fill="white"></path>
        <path
            d="M201.074 144.641C201.246 144.694 201.431 144.747 201.629 144.813C201.457 144.76 201.272 144.707 201.074 144.641Z"
            fill="white"></path>
        <path
            d="M217.642 150.646C216.085 149.881 214.5 149.155 212.916 148.508C214.527 149.181 216.085 149.881 217.669 150.646H217.642Z"
            fill="white"></path>
        <path
            d="M223.9 153.986C225.26 154.777 226.581 155.635 227.874 156.48C226.581 155.596 225.247 154.777 223.9 153.986Z"
            fill="white"></path>
        <path
            d="M138.476 200.083C141.112 200.173 142.949 202.353 143.111 204.613L143.121 204.839V204.865C143.136 206.249 142.482 207.462 141.752 208.272C141.042 209.061 139.858 209.904 138.374 209.925C138.372 209.926 138.369 209.925 138.366 209.925L138.364 209.927L138.363 209.925C136.816 209.947 135.533 209.307 134.673 208.316C133.863 207.383 133.484 206.214 133.471 205.146V205.14C133.447 202.73 135.255 200.138 138.209 200.081L138.476 200.083Z"
            fill="white"></path>
        <path
            d="M138.98 226.718C140.536 226.871 141.961 228.142 141.983 229.9H141.986C142.155 239.787 143.402 246.712 145.205 251.061C147.035 255.476 149.075 256.529 150.583 256.503C152.35 256.472 154.21 255.624 156.363 253.689C158.526 251.745 160.762 248.907 163.257 245.326L163.396 245.145C163.543 244.971 163.714 244.818 163.904 244.692L164.538 244.269L164.685 244.179C165.036 243.979 165.432 243.869 165.837 243.86C168.576 243.801 170.062 246.969 168.522 249.159L168.525 249.16C166.005 252.796 163.382 256.233 160.554 258.764C157.734 261.288 154.473 263.122 150.695 263.115L150.696 263.117C150.683 263.117 150.67 263.115 150.656 263.115C150.65 263.115 150.643 263.117 150.637 263.117V263.115C145.574 263.178 141.842 259.77 139.451 254.263C137.07 248.779 135.73 240.696 135.49 230.024L135.493 230.023C135.47 229.095 135.857 228.311 136.322 227.786C136.78 227.268 137.586 226.702 138.666 226.702L138.98 226.718Z"
            fill="white"></path>
        <path
            d="M182.932 211.63C189.075 211.525 193.332 215.223 195.473 219.97C197.578 224.635 197.769 230.498 195.928 235.541C195.908 235.597 195.886 235.652 195.861 235.706C195.57 236.352 195.09 236.816 194.646 237.109C194.192 237.409 193.562 237.669 192.817 237.68L192.819 237.683C192.807 237.683 192.796 237.682 192.785 237.682C192.78 237.682 192.775 237.683 192.77 237.683V237.682C191.227 237.691 190.305 236.659 189.919 235.888C189.568 235.186 189.411 234.277 189.631 233.424C189.652 233.344 189.677 233.264 189.706 233.186C190.954 229.825 190.869 225.868 189.598 222.866C188.403 220.042 186.301 218.276 183.331 218.215H183.039C180.388 218.259 177.282 219.993 174.763 223.33C172.362 226.511 170.704 230.907 170.684 235.812L170.688 236.287V236.29C170.851 246.272 178.234 254.29 189.677 254.089L190.6 254.062C195.114 253.875 198.161 252.902 200.513 251.45C203.058 249.878 205.013 247.611 207.162 244.562C207.211 244.492 207.265 244.425 207.321 244.361V244.36L207.325 244.356C207.326 244.354 207.328 244.351 207.33 244.349C207.333 244.345 207.338 244.34 207.343 244.335C207.352 244.325 207.363 244.313 207.376 244.299C207.402 244.271 207.435 244.236 207.474 244.196C207.55 244.119 207.663 244.008 207.802 243.892C207.932 243.782 208.138 243.621 208.4 243.477C208.622 243.354 209.123 243.108 209.787 243.108L209.959 243.113C210.195 243.13 210.425 243.181 210.642 243.263C211.604 243.505 212.397 244.163 212.809 245.059C213.332 246.195 213.156 247.49 212.444 248.484C210.104 251.772 207.53 254.848 203.926 257.09C200.286 259.354 195.798 260.648 189.802 260.753H189.8C174.556 261.015 164.426 249.807 164.192 236.438C164.071 229.437 166.323 223.338 169.786 218.935C173.219 214.57 177.993 211.71 182.932 211.629V211.63Z"
            fill="white"></path>
        <path
            d="M211.391 198.843C214.105 198.936 216.012 201.265 216.037 203.625C216.052 205.008 215.398 206.221 214.668 207.031C213.958 207.82 212.774 208.664 211.29 208.685C211.288 208.685 211.285 208.685 211.282 208.685L211.28 208.686L211.279 208.685C209.732 208.706 208.449 208.066 207.589 207.075C206.779 206.142 206.4 204.974 206.387 203.905V203.899C206.363 201.489 208.171 198.897 211.125 198.84L211.391 198.843Z"
            fill="white"></path>
        <path
            d="M211.896 225.477C213.452 225.63 214.877 226.902 214.899 228.659H214.902C215.071 238.547 216.318 245.472 218.121 249.821C219.951 254.236 221.991 255.288 223.499 255.262C225.266 255.231 227.126 254.383 229.279 252.449C231.442 250.504 233.678 247.666 236.173 244.085L236.312 243.905C236.459 243.731 236.63 243.578 236.82 243.451L237.454 243.028L237.601 242.938C237.952 242.739 238.348 242.628 238.753 242.62C241.492 242.561 242.978 245.729 241.438 247.918L241.441 247.92C238.921 251.556 236.298 254.992 233.47 257.523C230.65 260.048 227.389 261.881 223.611 261.875L223.612 261.876C223.599 261.876 223.586 261.874 223.572 261.875C223.566 261.874 223.559 261.876 223.553 261.876V261.875C218.49 261.938 214.758 258.529 212.367 253.022C209.986 247.538 208.646 239.455 208.406 228.783L208.409 228.782C208.386 227.854 208.774 227.071 209.238 226.546C209.696 226.028 210.502 225.462 211.582 225.462L211.896 225.477Z"
            fill="white"></path>
    </svg>
    <svg
        fill="none"
        class:list={[className]}
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 1075 326"
    >
        <path
            class="logo-letter translate-y-1/6 opacity-0"
            d="M254.029 180.58V325.063H309.679C335.492 325.063 372.846 319.005 372.846 280.519C372.846 267.413 368.467 253.713 349.223 245.86H349.236V245.45C363.877 239.802 369.193 228.53 369.193 216.242C369.193 182.375 329.53 179.327 308.953 179.195C265.149 177.228 254.029 180.567 254.029 180.567V180.58ZM308.584 220.294H310.602C317.369 220.294 320.864 224.122 320.864 229.362C320.864 234.601 317.566 238.429 310.602 238.429H308.584V220.281V220.294ZM310.971 285.983H308.584V263.413H310.971C319.387 263.413 323.594 268.442 323.594 274.685C323.594 280.928 319.558 285.983 310.971 285.983Z"
            fill="black"></path>
        <path
            class="logo-letter translate-y-1/6 opacity-0"
            d="M421.702 179.195H473.87L524.388 325.076H465.441L460.864 305.939H430.474L425.356 325.076H371.171L421.689 179.195H421.702ZM452.093 269.26L446.236 239.643H445.867L440.01 269.26H452.093Z"
            fill="black"></path>
        <path
            class="logo-letter translate-y-1/6 opacity-0"
            d="M533.529 179.195H583.138L622.141 241.451L622.51 241.253V179.195H671.578V325.076H621.969L582.966 262.82L582.597 263.017V325.076H533.529V179.195Z"
            fill="black"></path>
        <path
            class="logo-letter translate-y-1/6 opacity-0"
            d="M686.443 324.297V178.416H751.906C782.138 178.416 805.498 187.074 821.26 201.183C835.083 213.471 843.947 230.193 843.947 251.35C843.947 272.507 835.743 288.82 821.695 301.319C805.498 315.811 781.953 324.297 752.354 324.297H686.43H686.443ZM750.811 276.731H752.328C763.131 276.731 771.335 273.51 776.519 268.468C780.845 264.232 783.655 258.398 783.655 251.337C783.655 244.276 780.845 238.046 776.519 233.809C771.981 229.388 764.648 225.943 752.763 225.943H750.824V276.717L750.811 276.731Z"
            fill="black"></path>
        <path
            class="logo-letter translate-y-1/6 opacity-0"
            d="M858.285 178.416H907.59V324.297H858.285V178.416Z"
            fill="black"></path>
        <path
            class="logo-letter translate-y-1/6 opacity-0"
            d="M973.158 227.976H922.046V178.416H1073.69V227.976H1022.2V324.297L973.263 324.548L973.145 227.976H973.158Z"
            fill="black"></path>
    </svg>
</div>
