---
import SBImage from "../SBImage.astro";
import SBLink from "../SBLink.astro";
import { Icon } from "astro-icon/components";

const { project, class: className } = Astro.props;
---

<SBLink class:list={[className, "group"]}>
    <div
        style={{
            "--color-1": project.content.couleur_1.color,
            "--color-2": project.content.couleur_2.color,
        }}
        class="relative aspect-314/412 w-full"
    >
        <div
            class="ease-bounce absolute inset-0 -z-1 bg-(--color-1) transition-all duration-300 group-hover:-translate-x-10 group-hover:-translate-y-15 group-hover:scale-[1.03] group-hover:-rotate-2"
        ></div>
        <div
            class="ease-bounce absolute inset-0 -z-1 bg-(--color-2) transition-all duration-300 group-hover:-translate-y-10 group-hover:rotate-5"
        ></div>
        <SBImage
            class="ease-bounce size-full border-2 border-black object-cover transition-all duration-300 group-hover:-translate-y-10 group-hover:-rotate-5"
            image={project.content.image_liste}
        />
    </div>
    <div class="group-hover:text-red mt-20 w-full transition-colors duration-200 ease-out">
        <div class="flex items-start justify-between">
            <p class="text-[2.4rem] leading-29 font-bold">{project.content.titre}</p>
            <div class="shrink-0 overflow-hidden pr-25">
                <Icon
                    name="arrow"
                    class="group-hover:ease-bounce h-auto w-53 origin-left -translate-x-full transition-transform duration-150 ease-out group-hover:translate-x-0 group-hover:duration-300"
                />
            </div>
        </div>
        {
            project.content.tag && (
                <p class="font-schoolbell mt-6 text-[2.6rem] leading-36">
                    [ {project.content.tag} ]
                </p>
            )
        }
    </div>
</SBLink>
