---
import { storyblokEditable } from "@storyblok/astro";
import Haut from "../components/accueil/Haut.astro";

const { blok } = Astro.props;
---

<div class="page" {...storyblokEditable(blok)}>
    <Haut blok={blok} />
</div>
